[submodule "python"]
	path = python
	url = https://github.com/dudung/python.git
[submodule "basic"]
	path = basic
	url = https://github.com/dudung/basic.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/dudung/cpp.git
[submodule "go"]
	path = go
	url = https://github.com/dudung/go.git
[submodule "fortran"]
	path = fortran
	url = https://github.com/dudung/fortran.git
[submodule "java"]
	path = java
	url = https://github.com/dudung/java.git
[submodule "js"]
	path = js
	url = https://github.com/dudung/js.git
[submodule "json"]
	path = json
	url = https://github.com/dudung/json.git
[submodule "node.js"]
	path = node.js
	url = https://github.com/dudung/node.js.git
[submodule "lisp"]
	path = lisp
	url = https://github.com/dudung/lisp.git
[submodule "php"]
	path = php
	url = https://github.com/dudung/php.git
[submodule "bash"]
	path = bash
	url = https://github.com/dudung/bash.git
[submodule "css"]
	path = css
	url = https://github.com/dudung/css.git
[submodule "pascal"]
	path = pascal
	url = https://github.com/dudung/pascal.git
[submodule "perl"]
	path = perl
	url = https://github.com/dudung/perl.git
